h1 {
    font-size: 50;
    background-color: lightgray;
    font-family: "copperplate";
    margin: static;
    text-align: center;
    
}

body {
background-color: whitesmoke

  height: 200px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}



h2 {
    word-spacing: 12px;
    font-family: "arial";
    color: white;
    
}




a {
 text-align: center;
    font-family: fantasy;
    color: aliceblue;
}

h4 {
 text-align: right;
    font-size: 30px;
    color: white;
    font-family: "copperplate";
}


span {
    
}